[defaults]

# some basic default values...

inventory          = inventory/staging.ini
callback_whitelist = profile_tasks
# additional paths to search for roles in, colon separated
#roles_path    = /etc/ansible/roles

# uncomment this to disable SSH key host checking
host_key_checking = False

# If set, configures the path to the Vault password file as an alternative to
# specifying --vault-password-file on the command line.
#vault_password_file = /home/amaseghe/ans/files/creds.yml

# In order for custom stats to be displayed, you must set show_custom_stats in section [defaults] 
# in ansible.cfg or by defining environment variable ANSIBLE_SHOW_CUSTOM_STATS to true. 
show_custom_stats = True


deprecation_warnings = False
retry_files_enabled = False
#retry_files_save_path = ~/.ansible-retry

# Control the mechanism for transferring files (old)
scp_if_ssh = True

# I am using a container with all the collections installed
# collections_paths = /path/to/venv/lib/python3.x/site-packages/ansible_collections
# collections_paths = /home/am605199/.ansible/collections/ansible_collections


[persistent_connection]
connect_timeout = 1800
command_timeout = 1800